arandr==0.1.10
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astroid==2.5.1
asttokens==2.0.4
attrs==20.3.0
automationhat==0.2.0
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==5.0.0
blinker==1.4
blinkt==0.1.2
Bottleneck==1.2.1
buttonshim==0.0.2
Cap1xxx==0.1.3
Cerberus==1.3.4
certifi==2020.6.20
cffi==1.15.0
chardet==4.0.0
charset-normalizer==3.1.0
click==7.1.2
colorama==0.4.4
colorzero==1.1
cryptography==3.3.2
cupshelpers==1.0
cycler==0.10.0
dbus-python==1.2.16
debugpy==1.6.0
decorator==4.4.2
defusedxml==0.6.0
distro==1.5.0
docutils==0.16
drumhat==0.1.0
entrypoints==0.4
envirophat==1.0.0
et-xmlfile==1.0.1
executing==0.8.3
ExplorerHAT==0.4.2
fastjsonschema==2.15.3
Flask==1.1.2
fourletterphat==0.1.0
gpiozero==1.6.2
html5lib==1.1
idna==2.10
importlib-metadata==1.6.0
iniconfig==0.0.0
ipykernel==6.13.0
ipython==8.2.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
isort==5.6.4
itsdangerous==1.1.0
jdcal==1.0
jedi==0.18.0
Jinja2==3.1.1
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.2.2
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
kiwisolver==1.3.1
lazy-object-proxy==0.0.0
logilab-common==1.8.1
lxml==4.6.3
MarkupSafe==2.1.1
matplotlib==3.3.4
matplotlib-inline==0.1.3
mccabe==0.6.1
microdotphat==0.2.1
mistune==0.8.4
more-itertools==4.2.0
mote==0.0.4
motephat==0.0.3
mypy==0.812
mypy-extensions==0.4.3
mysql-connector-python==8.0.33
mysqlclient==1.4.4
nbclient==0.6.0
nbconvert==6.5.0
nbformat==5.3.0
nest-asyncio==1.5.5
notebook==6.4.11
numexpr==2.7.2
numpy==1.19.5
oauthlib==3.1.0
odfpy==1.4.1
olefile==0.46
openpyxl==3.0.3
packaging==20.9
pandas==1.1.5
pandocfilters==1.5.0
pantilthat==0.0.7
parso==0.8.1
pendulum==2.1.2
pexpect==4.8.0
pgzero==1.2
phatbeat==0.1.1
pianohat==0.1.0
picamera==1.13
pickleshare==0.7.5
piglow==1.2.5
pigpio==1.78
Pillow==8.1.2
pluggy==0.13.0
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==3.20.3
psutil==5.8.0
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.10.0
pycairo==1.16.2
pycparser==2.21
pycups==2.0.1
pydantic==1.10.9
pygame==1.9.6
Pygments==2.7.1
PyGObject==3.38.0
pyinotify==0.9.6
PyJWT==1.7.1
pylint==2.7.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyrsistent==0.18.1
pyserial==3.5b0
pysmbc==1.0.23
pytest==6.0.2
python-apt==2.2.1
python-dateutil==2.8.2
pytz==2021.1
pytzdata==2020.1
pyzmq==22.3.0
qtconsole==5.3.0
QtPy==2.0.1
rainbowhat==0.1.0
reportlab==3.5.59
requests==2.31.0
requests-oauthlib==1.0.0
responses==0.12.1
roman==2.0.0
RPi.GPIO==0.7.0
RTIMULib==7.2.1
scipy==1.6.0
scrollphat==0.0.7
scrollphathd==1.2.1
Send2Trash==1.8.0
sense-hat==2.4.0
simplejson==3.17.2
six==1.16.0
skywriter==0.0.7
sn3218==1.2.7
soupsieve==2.2.1
spidev==3.5
ssh-import-id==5.10
stack-data==0.2.0
style==1.1.0
tables==3.6.1
terminado==0.13.3
thonny==4.0.1
tinycss2==1.1.1
toml==0.10.1
tornado==6.1
touchphat==0.0.1
traitlets==5.1.1
tum-esm-signal==0.3.0
twython==3.8.2
typed-ast==1.4.2
typing_extensions==4.6.3
unicornhathd==0.0.4
update==0.0.1
urllib3==1.26.5
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.6.0
wrapt==1.12.1
xlwt==1.3.0
zipp==1.0.0
